<footer class="footer">
  <div class="footer__background">
    <div class="footer__blur-top-right">
      <span class="blur-green"></span>
      <span class="blur-yellow"></span>
      <span class="blur-primary"></span>
    </div>
    <div class="footer__blur-bottom-left">
      <span class="blur-green"></span>
      <span class="blur-yellow"></span>
      <span class="blur-primary"></span>
    </div>
  </div>
  
  <div class="footer__copyright">
    &copy; {{ currentYear }} Tulio. Todos los derechos reservados
  </div>
</footer>
