<footer class="footer">
  <div class="footer__background">
    <div class="footer__blur-top-right">
      <span class="blur-green"></span>
      <span class="blur-yellow"></span>
      <span class="blur-primary"></span>
    </div>
    <div class="footer__blur-bottom-left">
      <span class="blur-green"></span>
      <span class="blur-yellow"></span>
      <span class="blur-primary"></span>
    </div>
  </div>
  <div class="footer__content-wrapper">
    <span class="footer__background-circle"></span>
    <div class="footer__content-grid">
      <div class="footer__logo-section">
        <a href="#" class="footer__logo-link">
          <img src="./assets/img/logo.png" alt="logo" class="footer__logo-image" />
          <div class="footer__logo-text">Tallerazo.pe</div>
        </a>
        <p class="footer__slogan">Conecta. Agenda. Confía.</p>
        <div class="footer__social-links">
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    &copy; {{ currentYear }} Tulio. Todos los derechos reservados
  </div>
</footer>
