<header class="absolute inset-x-0 top-0 z-50 py-6">
    <div class="mx-auto max-w-7xl w-full px-5 sm:px-8 md:px-14 lg:px-5 flex flex-col lg:flex-row gap-10 lg:gap-12">
        <nav class="w-full flex justify-between gap-6 relative">
            <!-- logo -->
            <div class="min-w-max inline-flex relative">
                <a href="/" class="relative flex items-center gap-3">                    <div class="relative w-20">
                        <img src="assets/img/logo.png" alt="logo">
                    </div>
                    <div class="inline-flex text-lg font-semibold text-[var(--heading-1)]">
                        Tallerazo
                    </div>
                </a>
            </div>

            
              <div class="min-w-max flex items-center gap-x-3">
                
                <button data-toggle-nav data-open-nav="false" class="lg:hidden lg:invisible outline-none w-7 h-auto flex flex-col relative">
                    <span id="line1" class="w-6 h-0.5 rounded-full bg-[var(--heading-2)] transition-all duration-300 ease-linear"></span> 
                    <span id="line2" class="w-6 origin-center mt-1 h-0.5 rounded-ful bg-[var(--heading-2)] transition-all duration-300 ease-linear"></span> 
                    <span id="line3" class="w-6 mt-1 h-0.5 rounded-ful bg-[var(--heading-2)] transition-all duration-300 ease-linear"></span>                         
                    <span class="sr-only">togglenav</span>
                </button>
            </div>        </nav>
    </div>
</header>
