<section id="services" class="relative">
    <div class="mx-auto max-w-7xl w-full px-5 sm:px-8 md:px-14 lg:px-5 flex flex-col gap-10 lg:gap-12">        <div class="text-center max-w-3xl mx-auto space-y-4">            <h1 class="text-[var(--heading-1)] font-semibold text-2xl sm:text-3xl md:text-4xl">
                Lo que ofrecemos
            </h1>
            <p class="md:text-lg text-[var(--heading-3)]">
                Tecnología al servicio de tu tranquilidad automotriz.
            </p>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
           <div class="p-5 sm:p-6 lg:p-8 rounded-3xl border border-[var(--box-border)] bg-[var(--box-bg)] shadow-lg shadow-lg relative overflow-hidden">
                <div class="rounded-xl p-3 text-[var(--heading-1)] w-max relative bg-gray-300">
                    <img width="50" height="50" src="https://img.icons8.com/?size=100&id=774&format=png&color=000000" alt="chat-message--v1"/>
                </div>
                <div class="mt-6 space-y-4 relative">
                    <h2 class="text-lg md:text-xl font-semibold text-[var(--heading-2)]">
                        Gestión de citas online
                    </h2>
                    <p class="md:text-lg text-[var(--heading-3)]">Reserva tu cita en el taller más cercano y disponible sin llamadas ni complicaciones.
                    </p>
                </div>
                <span class="absolute w-32 aspect-square -bottom-16 -right-16 bg-[var(--primary)]/10 rounded-full"></span>
           </div>
           <div class="p-5 sm:p-6 lg:p-8 rounded-3xl border border-[var(--box-border)] bg-[var(--box-bg)] shadow-lg shadow-lg relative overflow-hidden">
                <div class="rounded-xl p-3 text-[var(--heading-1)] w-max relative bg-gray-300">
                    <img width="50" height="50" src="https://img.icons8.com/ios/50/follow.png" alt="follow"/>
                </div>
                <div class="mt-6 space-y-4 relative">
                    <h2 class="text-lg md:text-xl font-semibold text-[var(--heading-2)]">
                        Seguimiento en tiempo real
                    </h2>
                    <p class="md:text-lg text-[var(--heading-3)]">
                    Conoce el estado de la reparación de tu vehículo desde cualquier lugar.
                    </p>
                </div>
                <span class="absolute w-32 aspect-square -bottom-16 -right-16 bg-[var(--primary)]/10 rounded-full"></span>
           </div>
           <div class="p-5 sm:p-6 lg:p-8 rounded-3xl border border-[var(--box-border)] bg-[var(--box-bg)] shadow-lg shadow-lg relative overflow-hidden">
                <div class="rounded-xl p-3 text-[var(--heading-1)] w-max relative bg-gray-300">
                    <img width="50" height="50" src="https://img.icons8.com/ios/50/chat-message--v1.png" alt="chat-message--v1"/>
                </div>
                <div class="mt-6 space-y-4 relative">
                    <h2 class="text-lg md:text-xl font-semibold text-[var(--heading-2)]">
                        Comunicación directa
                    </h2>
                    <p class="md:text-lg text-[var(--heading-3)]">
                    Habla directamente con el taller, recibe actualizaciones, cotizaciones y reportes claros.
                    </p>
                </div>
                <span class="absolute w-32 aspect-square -bottom-16 -right-16 bg-[var(--primary)]/10 rounded-full"></span>
           </div>
        </div>
    </div>
</section>
